click==6.6
disqus==0.0.4
Django==1.11.10
django-disqus==0.5
django-forms-bootstrap==3.1.0
Flask==0.12.2
Flask-JSON==0.3.2
funcsigs==1.0.2
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mock==2.0.0
pbr==4.0.2
Pillow==5.1.0
pymongo==3.6.1
pytz==2018.3
six==1.11.0
virtualenv==15.1.0
Werkzeug==0.14.1
