body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   color: #444;
    background-color: #c4e3f3!important;
}

header {
   background-color: #2B2B2B;
   height: 35px;
   width: 100%;
   opacity: .9;
   margin-bottom: 10px;
}
header h1.logo {
   margin: 0;
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   float: left;
}
header h1.logo:hover {
   color: #fff;
   text-decoration: none;
}
.container {
   width: 940px;
   margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}
div.jumbo {
   padding: 10px 0 30px 0;
   background-color: transparent;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}
h2 {
   font-size: 3em;
   margin-top: 40px;
   text-align: center;
   letter-spacing: -2px;
}
h3 {
   font-size: 1.7em;
   font-weight: 100;
   margin-top: 30px;
   text-align: center;
   letter-spacing: -1px;
   color: #999;
}
.menu {
   float: right;
   margin-top: 8px;
}
.menu li {
   display: inline;
}
.menu li + li {
   margin-left: 35px;
}
.menu li a {
   color: #999;
   text-decoration: none;
}

.jumbo-custom {
    background-color: transparent!important;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro_button{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5a6c91;
    border: none;
    border-radius: 15px;
}

.intro_button:hover {
    background-color: #43516c;
}

#about{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    font-size: medium;
}
