{% extends "index.html" %}
{% block content %}
   <div class="jumbo">
       <h2>About Senator Smith School Program</h2>
       <h2>Children is our future</h2>
   </div>
    <div id="about" class="container">
    <div class="col-md-6">
        <p>Oregon is the #30 largest school system in the United States, serving 562,426 students across 1,239 public schools.
        ﻿Education-related investments span early learning through higher education and include a range of services, from youth corrections education and Career and Technical Education, to strategic investments designed to support and create opportunities for Oregon’s historically underserved students and communities.
        We believe our children deserve better funding and opprotunities and we are here to make this happen.
        </p>
    </div>
    <div class="col-md-6">
    <img src="../static/images/kids.jpg">
    </div>
    </div>
    <div id="about" class="container">
        <div class="col-md-6 school">
    <img src="../static/images/school.jpg">
        </div>
        <div class="col-md-6">
        <p> Oregon lags far behind the national average in classroom spending. Oregon’s average per-student spending level is $8,900 compared to the national average of $10,700. This disparity to a national average is magnified when considering the per-pupil spending expenditures for America’s very wealthy school districts. Some of the high-expenditure, wealthy school districts include Bronxville, New York, $27,980, Weston, Connecticut, $20,718, Scarsdale, New York, $26,742, San Perlita, Texas, $19,413 and Darien, Connecticut, $15,433. Student performance levels, test scores and graduation rates in these and other wealthy school districts far exceed those of less wealthy schools.  </p>
        </div>
    </div>
{% endblock %}