<!DOCTYPE html>
<html>
 <head>
     <title>School Donations Program</title>
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/bootstrap.min.css')}}">
     <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css')}}">
     <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
     <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
     <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
     <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
     <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500" rel="stylesheet">
 </head>
 <body>

       <strong><nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav menu">
        <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('key_insights') }}">Key Insights</a></li>
        <li><a href="{{ url_for('our_program') }}">Our Program</a></li>
    </ul>
         </nav></strong>
   <div class="container-fluid">
     {% block content %}
     {% endblock %}
   </div>
   <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
   <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script
 </body>
</html>