{% extends "layout.html" %}
{% block content %}
<button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>
  <div  id="outer" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <!-- Time Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title" data-step="1" data-intro="Total state donations" style="font-weight: normal" data-position="right">
                Number of Donations
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart -->

          <!-- Resources -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title" data-step="2" data-intro="Distribution of donations" style="font-weight: normal" data-position="right">
                Resources Type
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources -->

          <!-- funding Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title" data-step="3" data-intro="Percent of currently active donations" style="font-weight: normal" data-position="left">
                Funding Status
              </div>
              <div class="chart-stage">
                <div id="funding-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->
        </div>
      </div>

      <!-- Poverty -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title"data-step="4" data-intro="Distribution of funds based on poverty level" style="font-weight: normal" data-position="left">
            Poverty Level
          </div>
          <div class="chart-stage">
            <div id="poverty-level-row-chart"></div>
          </div>
        </div>
      </div>
      <!-- Poverty -->

      <!-- Metric 1 -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title" data-step="5" data-intro="All donations made over time" style="font-weight: normal" data-position="right">
            Total Number of Donations
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title" data-step="6" data-intro="Total value of all donations ever made" style="font-weight: normal" data-position="left">
            Total Donations in USD
          </div>
          <div class="chart-stage">
            <div id="total-donations-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->
    </div>
  </div>
  <hr>
{% endblock %}