{% extends "layout.html" %}
{% block content %}
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Donations over Time
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
    <div class="col-sm-12">
<h3>Program on Incresing overall Donations</h3>
    <ul>
        <li>Complete a strategic plan that clearly communicates out institution’s vision and the goals that will implement this vision.</li>
        <li>Determine the investment priorities that are needed to achieve the vision, including current and aspirational needs.</li>
        <li>Engage internal and external leaders in vetting these priorities and illustrating the outcomes and impacts.</li>
    </ul>
    <h3>Our Goals</h3>
    <ul>
        <li>Increase overall state support</li>
        <li>Improve funding distribution for schools with higher poverty rates</li>
        <li>Significantly dcrease number of expired fundings</li>
    </ul>

    </div>
{% endblock %}