{% extends "index.html" %}
{% block content %}
    <div  id="outer" class="container-fluid">
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title" data-intro="Distribution of donations" style="font-weight: normal" data-position="right">
                Resources Type
              </div>
              <div class="chart-stage">
                <div id="our-program-resources-chart"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title" data-intro="Distribution of funds based on poverty level" style="font-weight: normal" data-position="left">
            Poverty Level
          </div>
          <div class="chart-stage">
            <div id="our-program-poverty-chart"></div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
